* {
    padding: 0;
    margin: 0;
}

.sofia {
  font-family: "Sofia Sans Semi Condensed", serif;
  font-weight: 400;
}


/* LAYOUTS  */

.gaps-between {
    gap: 2.5em;
}

.bg-small {
    background-image: url(images/bg/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding: 0 0.5em;
    margin: 0 0 2em 0;

}

.banner-text {
    color: white;
}


/* SIGN UP  */

.form-up {
    width: 50vw;
    gap: 1em;
    border: 3px black solid;
    padding: 3em;
}

.form-up * {
    width: 40vw;
    height: 4vh;
}

.form-up input {
    padding: 0 1em;
    border: 2px solid black;
}

.form-up input[type=submit] {
    background-color: #393939;
    border: none;
    color: white;
}

/* ADMIN  */

.application {
    width: 50vw;
    border: 3px black solid;
    padding: 1em;
}

footer {
    min-height: 2em;
    width: 100vw;
    background-image: url(images/bg/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;

}

/* news  */

.news {
    margin: 0 0 3em 0;
}

.bg-big {
    background-image: url(images/bg/bg1.png);
    height: 50vh;
    background-image: url(images/bg/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    gap: 5em;
}

.nav-second {
    border: 3px black solid;
    width: 30vw;
    font-size: 1.75em;
    margin: 2em 0;

}

.nav-second a {
    text-decoration: none;
    color: black;
}

.news-header {
    background-color: #393939;
    padding: 1em 1.5em;
    color: white;
}

.block-new {
    padding: 2em 3em;
    border: 3px black solid;
}

